* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background-color: #380568;
  text-align: center;
}

p {
  color: #222222;
}

section {
  text-align: center;
  max-width: 960px;
  min-width: 480px;
  margin: 0 auto;
}


/* nav bar */

/* (with Responsive layout) */

@media screen and (max-width: 768px) {
  .topnav,
  .section {
    flex-direction: column;
  }
  .nav-btn {
    border: 1px solid rgb(167, 137, 165);
    width: 100%;
    box-shadow: 1px 1px 1px rgb(216, 226, 202);
  }
}

.topnav {
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  width: 100%;
  background: linear-gradient(75deg, #492e39, #2a2044);
}

.topnav a {
  color: rgb(255, 253, 255);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(216, 195, 214);
  color: black;
  font-size: 19px;
}

.topnav a.active {
  background-color: rgb(177, 71, 177);
  color: white;
}

/* header banner */

#main-heading-banner {
  background-image: url(images/blue-sky-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-width: 480px;
  padding: 110px 0px 50px 0px;
}

#main-heading {
  color: purple;
  font-weight: 700;
  font-size: 6rem;
}

#main-sub-heading {
  color: rgb(197, 64, 197);
  font-size: 3rem;
}

/* main content */

main {
  margin: 50px;
}

#main-content {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: 100%;
  max-width: 960px;
  min-width: 480px;
  background-color: #e8ddeb;
  border-radius: 35px;
}

#main-text {
  margin: 0 25px;
  max-height: 300px;
  border-radius: 25px;
  padding: 25px;
  text-align: right;
  background-color: white;
  font-style: italic;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

#supporting-image {
  max-height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin: 0 25px;
  border-radius: 50%;
  padding: 25px;
  background-color: white;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

#supporting-image:hover {
  background-color: rgb(255, 250, 185);
  transform: rotateZ(360deg);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

#main-text:hover {
  font-size: 1.4rem;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  background-color: rgb(255, 250, 197);
}

#role {
  color: #222222;
  font-size: 1.07rem;
}

#name {
  color: rgb(44, 0, 95);
  font-weight: 700;
}

#role {
  color: #222222;
  font-size: 1.07rem;
}

@media screen and (max-width: 720px) {
  #main-content {
    flex-direction: column;
    padding: 25px 0px;
    height: 700px;
  }
  #main-text {
    margin-bottom: 25px;
    text-align: center;
  }
  #supporting-image {
    background-position: center;
  }
}

/* link to about */

.hyperlink {
  text-decoration: none;
  color: rgb(44, 0, 95);
  font-weight: 700;
  background-color: rgb(228, 215, 35);
  padding: 15px 25px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(95, 95, 95);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.hyperlink:hover {
  font-size: 1.3rem;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  background-color: rgb(195, 253, 87);
}

#link-banner {
  margin: 35px auto;
  max-width: 960px;
  min-width: 480px;
}

#link-text {
  color: white;
  letter-spacing: 0.3em;
}

/* Contact form */

#contact-form-heading {
  color: rgb(252, 250, 253);
  font-size: 2rem;
  font-weight: 700;
  margin: 50px 0px 25px 0;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #60059c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

input[type="submit"]:hover {
  background-color: rgb(228, 215, 35);
  color: rgb(44, 0, 95);
  font-size: 1.1rem;
  font-weight: 700;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.container {
  border-radius: 5px;
  background-color: #d0b7da;
  padding: 20px;
  margin-bottom: 50px;
}

/* footer */

footer {
   background: linear-gradient(75deg, #492e39, #2a2044);
   margin-top: 10px;
   padding: 10px;
}

.footer-txt {
   color: white;
   text-shadow: 1px 1px 2px rgb(44, 0, 95);
   font-size: 1.2rem;
   padding: 20px
}

#git-txt {
  font-weight: 700;
  text-decoration: none;
}

#copyright {
  font-style: italic;
}

#icon {
  animation-name: flip;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-size: 2rem;
}

@keyframes flip {
  from{
    color: whitesmoke;
  }
  to {
    transform: rotateY(360deg);
    color: purple;
  }
}